<div class="header">
  <div class="bg">
    <div class="bg-overlay">
      <div class="content-sheath">
        <div class="content">
          <h1>Invite me to come speak</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="skewed-overlay"></div>
<div class="skewed-content-sheath">
  <div class="ornament-top"></div>
  <div class="content">
    <h1>Looking for a dynamic speaker to inspire your audience while delivering tons of value?</h1>
    <div class="ornament-divider"></div>
    <p>As a professional speaker who’s spoken on over 500 stages, including TEDx, Harvard, and Yale, I’d love to bring the same level of world-class professionalism to your next event.</p>

    <p>My superpower is communicating in a way that’s relatable, relevant, and results-driven so your audience takes immediate action…</p>

    <p>While you look like a rockstar for inviting me to come speak.</p>

    <p>If you’re hosting an event or a podcast for entrepreneurs, coaches, or speakers…</p>

    <p>Let’s talk about how we can make your next event or episode one your audience won’t forget.</p>

    <div class="action">
      <yahya-button>
        <a href="#" class="button red">Download Media Kit</a>
      </yahya-button>

      <div class="or">
          <div class="line"></div>
          <span>OR</span>
          <div class="line"></div>
        </div>

      <yahya-button>
        <a href="#" class="button red">Invite me to Speak</a>
      </yahya-button>
    </div>

    
  </div>
</div>