.kf-toolbar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    min-height: 64px !important;
    background-color: transparent;
    transition: all 200ms ease;

    @media only screen and (min-width: $lg) {
        height: 120px;
    }

    mat-toolbar-row {
        height: 64px;

        @media only screen and (min-width: $lg) {
            height: 120px;
        }
    }
}

.isScrolling {
    height: 64px;
    background: $darkgrey;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);

    @media only screen and (min-width: $lg) {
        height: 64px;
    }

}