@import 'abstracts/_variables';

.page-header {
    width: 100%;
    height: 70vh;
    position: relative;

    @media only screen and (min-width: $sm) {
        height: 800px;
        min-height: 600px;
    }

    .bg {
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/about/header-image-min.jpg");
        background-image: url("/assets/1/DSC08852.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        // background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 180px;

        @media only screen and (min-width: $sm) {
            background-position: -64px center;
            background-repeat: repeat;
        }
    }

    .bg-overlay {
        width: 100%;
        height: 260px;
        background-color: rgba(0,0,0,.6);
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 16px;

        h1 {
            color: #fff;
            font-family: 'Source Sans Pro';
            font-weight: 900;
            text-align: center;
            // line-height: 1.5;
            font-size: 100px;
            max-width: 1040px;
            // margin-bottom: 48px;

            @media only screen and (min-width: $sm) {
                font-size: 100px;
                letter-spacing: 2px;
            }
        }

        // p {
        //     font-family: 'Open Sans';
        //     text-align: center;
        //     font-weight: 400;
        //     color: #fff;
        //     font-size: 24px;
        // }
    }
}

.skew {
    width: 100%;
    height: 25vh;
    height: 500px;
    bottom: -30%;
    position: absolute;
    background-color: #fff;

    @media only screen and (min-width: 900px) {
        height: 200px;
        bottom: -100px;
    }

    &.left {
        transform: skewY(12deg);
        z-index: 1;
    }

    &.middle {
        z-index: 2;
    }

    &.right {
        transform: skewY(-12deg);
        z-index: 1;
    }
}


.yahya-story {
    position: relative;
    z-index: 3;
    background-color: #fff;
    padding-bottom: 6rem;

    .sheath {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    //Alignments

    .left-aligned {
        h2, p {
            text-align: left !important;
            margin: 1rem 0 !important;

            @media only screen and (min-width: $sm) {
                margin-left: 64px !important;
            }
        }

        .bg {
            margin: 0 auto;

            @media only screen and (min-width: $sm) {
                margin-left: -50%;
                margin-top: 0;
            }
        }
    }

    .right-aligned {
        h2, p {
            margin: 1rem 0 !important;

            @media only screen and (min-width: $sm) {
                margin-right: 64px !important;
            }
        }

        .bg {
            margin: 0 auto;

            @media only screen and (min-width: $sm) {
                margin-right: -50%;
                margin-top: 0;
            }
        }
    }

    .center-aligned {
        h2, p {
            margin: 1rem auto !important;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: -80px;
        background-color: #fff;
        padding: 8px;

        @media only screen and (min-width: $sm) {
            padding: 24px 80px;
        }

        .row {
            margin: 1rem 0;

            @media only screen and (min-width: $sm) {
                margin: 3rem 0;
            }
        }

        .bg {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 100%;
            height: 100%;

            @media only screen and (min-width: $sm) {
                width: 150%;
            }
        }

        h1 {
            font-family: 'Source Sans Pro';
            font-size: 60px;
            font-weight: 900;
            color: #dd1e35;
            text-transform: uppercase;
            text-align: center;
        }

        // h2 {
        //     font-family: 'Open Sans';
        //     font-size: 24px;
        //     max-width: 600px;
        //     line-height: 2;
        //     font-weight: 700;
        //     margin: 1rem auto;
        //     text-align: left;
        // }

        // p {
        //     font-size: 20px;
        //     text-align: left;
        //     color: rgba(0,0,0,.87);
        //     color: rgba(0,0,0,.54);
        //     margin: 24px auto;
        //     line-height: 2;
        //     max-width: 740px;
        //     font-family: 'Open Sans';
        //     text-align: center !important;
        // }
    }

    #aboutimage1 {
        background-image: url("/assets/images/about/about-image-1-min.jpg");
        min-height: 500px;
    }
    
    #aboutimage2 {
        background-image: url("/assets/aboutimage2.jpg");
        min-height: 500px;
    }

    #aboutimage3 {
        min-height: 400px;
        background-image: url("http://via.placeholder.com/368x556");
    }

    #aboutimage8 {
        background-image: url("/assets/WeddingPic.jpg");
        min-height: 500px;
    }
}