<div class="page-header">
  <div class="bg">
    <div class="bg-overlay">
      <div class="content">
        <h1>YAHYA'S STORY</h1>
          <!-- <h1>Have you ever pretended to be someone that you weren’t just to win the acceptance and approval of someone else?</h1>
          <p>Well, that's the story of my life...</p> -->
      </div>
    </div>
  </div>
  <div class="skew left"></div>
  <div class="skew middle"></div>
  <div class="skew right"></div>
</div>

<div class="yahya-story">
  <div class="sheath">
    <div class="content">
        <h1>Have you ever</h1> 
          <p class="black center">pretended to be someone that you weren’t just to win the acceptance and approval of someone else?</p>
          <p class="black center">Well, that's the story of my life...</p>
        <p class="black center">You see, my parents separated shortly after I was born and <i>I had no clue who my mother was.</i> I was raised mostly by my stepmother. My dad was never in the picture. For him, business always came first and family second. And while my stepmother gave me an amazing upbringing and raised me as her own, I still felt like I was a square peg trying to fit in a round hole.</p>

        <p class="black center">I noticed everyone else in my family looked different from me – I looked Asian while everyone else in my family looked Arab. Because of this, I tried my best to fit in even when it didn’t feel right.</p>

        <div class="row left-aligned">
          <div class="col-xs-12 col-sm-4">
            <div class="bg" id="aboutimage1"></div>
          </div>
          <div class="col-xs-12 col-sm-8 col center-xs">
            <h2>I made almost every decision with the intention of winning everyone’s approval...especially my father’s.</h2>

            <p>You see, my dad is a very strict and devout Muslim. For the record, he's not a terrorist. Stop being so racist dammit lol. Seriously though… For almost 25 years, I pretended to be Muslim when I wasn’t... just so he could be proud of me. I even broke up with my first true love back in high school because she wasn’t Muslim – although we eventually got back together (more on that later).</p>
          </div>
        </div>

        <div class="row center-aligned">
          <div class="col-xs-12 center-xs col">
            <p>And because I was the first person in my family to ever get an education in America, when it came to my career, my father and stepmom pressured me to become a doctor even though what I really wanted to do at the time was become a personal trainer.</p>
            
            <p>After spending four years in college taking my prerequisites to become a doctor, during my last semester, I accepted the fact this career path wasn’t what I really wanted to do with my life– it was what my parents wanted me to do.</p>

            <p>So I dropped out.</p>
          </div>
        </div>

        <div class="row right-aligned">
          <div class="col-xs-12 col-sm-4 first-xs last-sm">
            <div class="bg" id="aboutimage3"></div>
          </div>
          <div class="col-xs-12 col-sm-8 col center-xs">
            <p>When I tried to move back home, my dad told me I wasn’t allowed to live in his house until I went back and finished my degree. I left his home with nowhere to go. After hearing about my situation, a close friend invited me stay with him for a few months.</p>

            <p>I remember him saying, “I seriously think you should become a motivational speaker and life coach for young people bro. Think about it... You're super positive, you love to help others and you have a big-ass mouth." I thought it was a crazy idea but I slept on it.</p>

            <p>The next day, I found two online programs that could teach me how to build a speaking and coaching career, but they were $9,000 combined!</p>
          </div>
        </div>

        <div class="row center-aligned">
          <div class="col-xs-12 center-xs col">
            <p>At first, I thought they were a scam. I mean, who wouldn't, right?! After doing some research, I realized both of the programs were legit. But here's the thing...</p>

            <h2>I had no degree, no job, I was $50,000 of debt from school, and I only had 47 bucks in my bank account.</h2>
          </div>
        </div>

        <div class="row left-aligned">
          <div class="col-xs-12 col-sm-4">
            <div class="bg" id="aboutimage3"></div>
          </div>
          <div class="col-xs-12 col-sm-8 col center-xs">
            <p>Where the fuck was I gonna get $9,000 from? I remember watching a Youtube video with Tony Robbins talking about the difference between having the resources versus being resourceful. I decided to do whatever it took to make this work. I called EVERY person I knew and asked if they could help me. Out of hundreds of calls, two people decided to invest a combined total of $4,000 in me. I also got two part-time jobs and eventually saved enough money to enroll in both of the online programs.</p>

            <p>Within a year, I was the youngest graduate from Tony Robbins’ coaching program and I won the Student of the Year Award for the speaking program I completed.</p>
          </div>
        </div>

        <div class="row center-aligned">
          <div class="col-xs-12 center-xs col">
            <p><strong>By 2012, I had quit both my jobs and was speaking and coaching professionally full-time.</strong> I was crushing it in the education market and became one of the Top Youth Speakers in the industry. I couldn't believe it.</p>

            <p><strong>Just as things were taking off with my career, 2013 became the toughest year of my life.</strong> After spending 8 years looking for my birth mother, I was finally reunited with her on national TV in Thailand.</p>
          </div>
        </div>

        <div class="row right-aligned">
          <div class="col-xs-12 col-sm-4 first-xs last-sm">
            <div class="bg" id="aboutimage3"></div>
          </div>
          <div class="col-xs-12 col-sm-8 col center-xs">
            <p>Although things started off great, they ended with my mother ripping up the only baby picture I had of us together into pieces. I was crushed. I had never felt so alone in my life. She abandoned me again. Later that same year, I proposed to Kate - the same girl I had broken up with back in high school - my high school sweetheart. When I invited my father to the wedding, he asked me if it would be a Muslim wedding.</p>

            <p>For the first time in my life, I finally told my father the truth about my beliefs. I told him it wouldn’t be a Muslim wedding. He asked, “Why not?”</p>
          </div>
        </div>

        <div class="row center-aligned">
          <div class="col-xs-12 center-xs col">        
            <p>I said it was because I wasn't really the Muslim he wanted me to be. I was more spiritual than religious. I would rather live by the principles and virtues of every great religion and spiritual leader I found wisdom in.</p>

            <p>That’s when he told me I was no longer his son.</p>

            <h2>I got disowned and abandoned by both my birth parents that year.</h2>
          </div>
        </div>

        <div class="row left-aligned">
          <div class="col-xs-12 col-sm-4">
            <div class="bg" id="aboutimage8"></div>
          </div>
          <div class="col-xs-12 col-sm-8 col center-xs">
            <p>This was when I hit rock bottom and fell into a deep depression. I felt completely worthless. Both my parents CHOSE to leave me. After a year of therapy and deep work, instead of feeling empty  like there was a hole inside me, I started to feel whole again.</p>

            <p>I finally got married to Kate.</p>

            <p>I decided I wanted to stop the cycle of dysfunction and create the family I never had growing up. It was in that moment that I realized two things:</p>
          </div>
        </div>

        <div class="row center-aligned">
          <div class="col-xs-12 center-xs col">
            
            <p><strong>1. Pretending to be someone you’re not just to gain validation from others is extremely exhausting.</strong> That’s why you need to become unapologetically self-expressed.</p>

            <p><strong>2. No one will accept you until you accept yourself.</strong> That’s why you need to unconditionally love yourself. I had to stop living for other people's approval and start living my truth whether people liked it or not.</p>
          </div>
        </div>

        <div class="row right-aligned">
          <div class="col-xs-12 col-sm-4 first-xs last-sm">
            <div class="bg" id="aboutimage3"></div>
          </div>
          <div class="col-xs-12 col-sm-8 col center-xs">
            <h2>Jump ahead to 2016 - my most successful year in business.</h2>

            <p>I was traveling and speaking all around the world. I had over 100 speaking engagements that year. And even though it was my most successful year financially, it quickly became my most stressful year emotionally. First, I couldn’t be myself in the education market. I couldn’t curse. I couldn’t be real and talk about my day-to-day, personal struggles without the fear of losing business. Everyone just wanted to see the highlight reel.</p>

            <p>I got stuck pretending to be someone I wasn’t... AGAIN.</p>
          </div>
        </div>

        <div class="row center-aligned">
          <div class="col-xs-12 center-xs col">
            
            <p>But this time, in my professional career. <i>Instead of seeking the acceptance of my family I was now seeking the applause from my audience.</i> Second, I became a road warrior trading my time for money. The truth was I was never home. Traveling from gig to gig speaking to hundreds of thousands of people became very unsexy and unglamorous very, very fast.</p>

            <p>Not that there was anything wrong with it, but my speaking career became a high-paying manual labor job.</p>
          </div>
        </div>

        <div class="row left-aligned">
          <div class="col-xs-12 col-sm-4">
            <div class="bg" id="aboutimage3"></div>
          </div>
          <div class="col-xs-12 col-sm-8 col center-xs">
            <p>The only way I got paid was by being away from home so I could speak on stage. Since I wanted to start a family, I needed a different way to make a living and impact. I realized I needed to create a business that supported the lifestyle I wanted while being true to myself.</p>

            <h2>That’s when I figured out how to build an online business doing what you love to do while making a huge difference and living life on your terms - being 100% YOU.</h2>

            <p>The key I discovered is to build an authentic personal brand with the right business model to scale your impact and attract your tribe. When you have the right business model, you'll be able to make an even bigger impact without trading your time for money. That’s why my purpose both personally and professionally is for you to love yourself unconditionally and become more unapologetically self-expressed while living life on your terms.</p>
          </div>
        </div>

        <div class="row center-aligned">
          <div class="col-xs-12 center-xs col">
            
            <p>Because when you can be 100% you, not only do you experience more personal happiness and freedom, but you also attract your most ideal clients and get paid what you're truly worth for making a difference.</p>

            <p>That’s how you can provide for your family...</p>

            <h2>That’s how you can achieve lifestyle freedom...</h2>

            <p>That’s how you can create a movement...</p>

            <p>That’s how you can leave a legacy…</p>
            
            <p>That’s how you can finally have it all.</p>

            <p>If you want to grow your influence, impact, and income while maintaining lifestyle freedom so you can spend time doing what you really want to do with the people who matter most to you…</p>

            <h2>Then I know I can help you.</h2>

            <p>I invite you to click the link below to see if we're a good match to work together.</p>

            <p>But I have to warn you…</p>

            <p>I ain't cheap.</p>
            
            <p>And I don't work with people who have a broke mindset either.</p>

            <p>So whether you're willing to do whatever it takes to invest in yourself like I did when I had only 47 bucks…</p>

            <p>Or if you're already making 6 to 7 figures…</p>

            <p>And you want to learn how to become a world-class speaker and build an influential personal brand that can attract the right clients, create a movement around your message, and achieve lifestyle freedom doing what makes you come alive …</p>

            <p>Then let’s talk...</p>

            <yahya-button>
              <a href="https://yahyabakkar.typeform.com/to/fL2nsE" target="_blank" mat-button class="red button">Apply to Work with Me</a>
            </yahya-button>
          </div>
        </div>
    </div>
  </div>
</div>