//Blueprint

.blueprint {
    // background-image: url("/assets/blueprintbook.jpg");
    background-size: 160px;
    background-position: 8% 20%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #de1e35;
    padding: 1rem 0;

    .inner {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 24px 0;
        max-width: 900px;
        margin: 24px auto;
        position: relative;

        img {
            width: 180px;
            height: 160px;
            left: -20%;
            top: -80%;
            position: absolute;
        }
    }

    .logo-banner {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        padding-bottom: 1rem;

        img {
            width: 10%;
            height: 100%;
            max-height: 80px;
            margin: 0 24px;
        }
    }
    
    form {
        display: flex;
        margin-right: 12px;
    }

    h1.headline {
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
    }

    h2.subheading {
        text-shadow: none;
        font-size: 20px;
        color: #fff;
        text-align: center;
        font-family: 'DIN';
        letter-spacing: 1px;
        font-weight: 700;
        margin: 1rem 0 0 0;
        text-transform: uppercase;
    }

    .white.button {
        padding: 6px 24px;
        height: 48px;
        border-radius: .3rem;
        min-width: 0;
    }

    .form-control {
        font-family: 'DIN';
        color: #353141;
        border: 1px solid #fff;
    }

    .form-control:focus {
        color: #353141;
        box-shadow: 0 0 0 0.2rem rgba(0,0,0,.25);
        border-color: #fff;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #de1e35;
        font-family: 'DIN' !important;
        font-size: 18px;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #de1e35;
        font-family: 'DIN' !important;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #de1e35;
        font-family: 'DIN' !important;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #de1e35;
        font-family: 'DIN' !important;
      }
}