<div class="blueprint">
  <h2 class="subheading">Download the 5-Step Blueprint to Become a World-Class Speaker</h2>
  <div class="inner">
    <img src="/assets/blueprintbook.jpg" alt="">
    <form>
      <input class="form-control form-control-lg" type="text" placeholder="Your Name" required style="margin-right: 12px;">
      <input class="form-control form-control-lg" type="text" placeholder="Your E-mail" required>
    </form>
    <a href="https://yahyabakkar.typeform.com/to/fL2nsE" target="_blank" mat-button class="white button"><i class="material-icons">
            get_app
            </i>Download Here</a>
  </div>
  <!-- <img src="/assets/yahyabanner.jpg" alt=""> -->
  <div class="logo-banner">
    <img src="assets/tedxlogo.png" alt="">
    <img src="assets/yalelogo.png" alt="">
    <img src="assets/huffpostlogo.png" alt="">
    <img src="assets/harvardlogo.png" alt="">
    <img src="assets/bpalogo.png" alt="" >
    <img src="assets/inclogo.png" alt="">
    <img src="assets/successlogo.png" alt="">
  </div>
</div>