<div class="footer">
  <div class="bg">
    <div class="bg-overlay">
      <div class="content">
            <img src="/assets/blueprintbook.jpg" alt=""> 
          <h3>Download the 5-Step Blueprint to become a World-Class Speaker</h3>
          <div class="form-sheath">
              <form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
                  <div style="display: none;">
                  <input type="hidden" name="meta_web_form_id" value="1787653354" />
                  <input type="hidden" name="meta_split_id" value="" />
                  <input type="hidden" name="listname" value="awlist4955443" />
                  <input type="hidden" name="redirect" value="http://www.worldclassspeaker.com/thanks" id="redirect_2ce3c3f2fa26f2f73160a4f296c4aa4e" />
                  
                  <input type="hidden" name="meta_adtracking" value="5StepBlueprint" />
                  <input type="hidden" name="meta_message" value="1" />
                  <input type="hidden" name="meta_required" value="name,email" />
                  
                  <input type="hidden" name="meta_tooltip" value="name||Enter your name,,email||Enter your email address" />
                  </div>
                  <div id="af-form-1787653354" class="af-form"><div id="af-body-1787653354" class="af-body af-standards">
                  <div class="af-element">
                  <label class="previewLabel" for="awf_field-95898720"></label>
                  <div class="af-textWrap">
                  <input id="awf_field-95898720" type="text" name="name" class="text" value="First Name"  onfocus=" if (this.value == 'First Name') { this.value = ''; }" onblur="if (this.value == '') { this.value='First Name';} " tabindex="500" />
                  </div>
                  <div class="af-clear"></div></div>
                  <div class="af-element">
                  <label class="previewLabel" for="awf_field-95898721"></label>
                  <div class="af-textWrap"><input class="text" id="awf_field-95898721" type="text" name="email" value="Your Email" tabindex="501" onfocus=" if (this.value == 'Your Email') { this.value = ''; }" onblur="if (this.value == '') { this.value='Your Email';} " />
                  </div><div class="af-clear"></div>
                  </div>
                  <div class="af-element buttonContainer">
                  <button mat-button name="submit" class="submit button white md" type="submit" tabindex="502">Send it to me<i class="material-icons right-align">
                          arrow_forward
                          </i></button>
                  <div class="af-clear"></div>
                  </div>
                  </div>
                  </div>
                  <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jOwc7GyszMysLA==" alt="" /></div>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>