::ng-deep yahya-skew {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.skew {
    width: 100%;
    height: 560px;
    bottom: -420px;
    position: absolute;
    background-color: #fff;

    @media only screen and (min-width: 900px) {
        height: 240px;
        bottom: -60px;
    }

    &.left {
        transform: skewY(12deg);
        z-index: 1;
    }

    &.middle {
        height: 480px;
        bottom: -420px;
        z-index: 2;
        text-align: center;

        @media only screen and (min-width: 900px) {
            bottom: -300px;
        }
    }

    &.right {
        transform: skewY(-12deg);
        z-index: 1;
    }
}