<!-- <a href="https://farm9.staticflickr.com/8642/16455005578_0fdfc6c3da_b.jpg" data-lity>Image</a>
<a href="https://vimeo.com/1084537" data-lity>iFrame Vimeo</a> -->

<div class="topbar">
  <div class="inner">
      <img src="/assets/yahyalogo.png" alt="">
  </div>
</div>

<div class="page-sheath">

  <!-- Hero -->
  <section id="hero">
      <div class="bg">
          <div class="bg-overlay">
              <div class="row fill">
                  <div class="col-xs-12 col center-xs middle-xs">
                      <h1 class="headline">Defy it all to have it all</h1>
                      <h2 class="subheading">Download the Ultimate Lifestyle Workbook to Live Life on Your Terms</h2>
                      <div class="action">
                          <a mat-button class="red">Download Now</a>
                          <a href="https://vimeo.com/259525413"  data-lity mat-button class="white">Watch Video</a></div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Wcs -->
  <section id="wcs">
      <div class="bg">
          <div class="bg-overlay">
              <div class="row fill">
                  <div class="col-xs-12 col center-xs middle-xs">
                      <h1 class="headline">Become a World Class Speaker</h1>
                      <h2 class="subheading">Find your voice. Reach more lives. Make more money.</h2>
                      <div class="action">
                          <a href="" mat-button class="red">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Confidence -->
  <section id="confidence">
      <div class="bg">
          <div class="bg-overlay">
              <div class="row fill">
                  <div class="col-xs-12 col center-xs middle-xs">
                      <h1 class="headline">Build Unshakable Confidence</h1>
                      <h2 class="subheading">Overcome anxiety, self-doubt and fear of rejection</h2>
                      <div class="action">
                          <a href="" mat-button class="red">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Yahya -->
  <section id="yahya">
      <div class="bg">
          <div class="bg-overlay">
              <div class="content-sheath">
                  <div class="row fill">
                      <div class="col-xs-12 col center-xs top-xs">
                          <h1 class="headline red">Meet Yahya</h1>
                          <p class="body">He’s an author, speaker and coach who's confidently stepped on stage over 300 times to share his inspirational story and life-changing work. He's also a certified interventionist and has spoken to nationally recognized organizations such as Harvard, TedX and Yale.
                          </p>
                          <p class="body">Yahya's mission is to empower you to build the courage and confidence to be yourself in a world that's constantly trying to change you. Imagine what your life will look like when you could command respect from others simply by you being true to yourself.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="watch">
      <div class="bg">
          <div class="bg-overlay">
              <div class="content-sheath">
                  <div class="row fill true">
                      <div class="col-xs-12 col center-xs middle-xs">
                          <h1 class="headline red">WATCH MORE YAHYA TV</h1>
                          <div class="action"><div class="g-ytsubscribe" data-channel="yahyabakkar" data-layout="default" data-count="default"></div></div>
                          <div id="youtubefeed">
                              <ul>
                                  <li *ngFor="let video of videos">
                                      <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank" class="thumbnail">
                                          <img src="{{ video.snippet.thumbnails.high.url }}" alt="">
                                          <div class="duration">
                                              {{ video.snippet.videoDuration }}
                                          </div>
                                      </a>
                                      <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank" class="title">
                                          <span>{{ video.snippet.title }}</span>
                                      </a>
                                      <p class="description">
                                              {{video.snippet.description}}
                                          </p>
                                      
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Speak -->
  <section id="speak">
      <div class="bg">
          <div class="bg-overlay">
              <div class="row fill">
                  <div class="col-xs-12 col center-xs middle-xs">
                      <h1 class="headline">Want Me to Come Speak?</h1>
                      <h2 class="subheading">Let's make your next event the most memorable one, together</h2>
                      <div class="action">
                          <a href="" mat-button class="red">Watch Video</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Banner -->
  <div class="banner">
          <img src="/assets/yahyabanner.jpg" alt="">
      </div>

  <!-- Speak2 -->
  <section id="speak2">
      <div class="bg">
          <div class="bg-overlay">
              <div class="content-sheath">
                  <div class="row fill">
                      <div class="col-xs-12 col center-xs middle-xs">
                          <p class="body">
                              If you’re reading this, you’re someone who’s looking for a dynamic speaker for your next event or podcast. I know how hard it is to find someone who can over deliver to your audience while making you look like a superhero.
                          </p>
                          <p class="body">
                              I’ve spoken on over 300 stages including Harvard, TEDx and Yale and I’d love to bring that same level of world-class professionalism to your next event.
                          </p>
                          <p class="body">
                              Click the link below to fill out our form and let my team know how we can best serve you. I look forward to working with you.
                          </p>
                          <div class="action">
                              <a href="https://yahyabakkar.typeform.com/to/fwX33u" data-lity mat-button class="red">Invite Yahya</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Transform -->
  <section id="transform">
      <div class="bg">
          <div class="bg-overlay">
              <div class="row fill">
                  <div class="col-xs-12 col center-xs middle-xs">
                      <h1 class="headline red">Transform your Life in One Day</h1>
                      <h2 class="subheading red">Are you tired of consuming more information?
                      <br>If so, you’re ready for a real transformation.</h2>
                      <div class="action">
                          <a href="" mat-button class="red">Learn More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>

