@import 'abstracts/_variables';

.page-sheath {
    width: 100%;
    height: 100%;
}

.content-sheath {
    width: 100%;
    height: 100%;
    max-width: $lg;
    margin: 0 auto;
    padding: 0 12px;
}

.topbar {
    width: 100%;
    background-color: #fff;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        img {
            width: 48px;
        }
    }
}

//Defaults
p.body {
    font-family: 'Avenir', 'sans-serif';
    font-size: 14px;
    color: #7b7b7b;
    text-align: left;
    line-height: 1.8;
    max-width: 600px;
    margin: 24px 0;

    @media only screen and (min-width: $sm) {
        font-size: 18px;
    }
    @media only screen and (min-width: $med) {
        font-size: 20px;
    }
    @media only screen and (min-width: $lg) {
        font-size: 24px;
    }
}

h1.headline {
    font-family: 'DIN', 'Roboto', 'sans-serif';
    color: #fff;
    text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.05);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 0;

    @media only screen and (min-width: $sm) {
        font-size: 42px;
        letter-spacing: 4px;
    }

    @media only screen and (min-width: $med) {
        font-size: 60px;
    }
}

h2.subheading {
    font-family: 'Avenir', 'Roboto', 'sans-serif';
    color: #fff;
    text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.05);
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    max-width: 600px;

    @media only screen and (min-width: $sm) {
        font-size: 20px;
        letter-spacing: 4px;
    }

    @media only screen and (min-width: $med) {
        font-size: 24px;
        max-width: 700px;
    }

    @media only screen and (min-width: $lg) {
        font-size: 32px;
        max-width: $lg;
    }
}

.headline.red, .subheading.red {
    color: #dd1e35;
}

.headline.white, .subheading.white {
    color: #fff;
}

a {
    margin: 1rem 0;
    font-family: 'Avenir', 'Roboto', 'sans-serif';
    text-transform: uppercase;
    font-weight: 600;

    @media only screen and (min-width: $med) {
        font-size: 20px;
        letter-spacing: 4px;
        padding: 8px 32px;
        padding: 16px 48px;
        min-width: 325px;
    }

    @media only screen and (min-width: $xl) {
        padding: 16px 48px;
    }
}

a.red {
    background-color: #dd1e35;
    color: #fff;
}

a.white {
    background-color: #fff;
    color: #dd1e35;
}

.bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.action {
    display: flex;
    width: 100%;
    align-items: center;
}


//Hero
section#hero {
    width: 100%;
    height: 400px;

    @media only screen and (min-width: $med) {
        height: 600px;
    }

    @media only screen and (min-width: $xl) {
        height: calc(100vh - 120px);
    }

    .bg {
        background-color: #fff;
        background-image: url("/assets/yahyaimage1.png");
        background-size: 70%;
        background-position: 600px 100%;
    }

    .bg-overlay {
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0,0,.18);
    }

    h1.headline {
        @media only screen and (min-width: $lg) {
            font-size: 80px;
        }
    }

    h2.subheading {
        @media only screen and (min-width: $lg) {
            max-width: 800px;
        }
    }

    .action {
        max-width: 300px;
        justify-content: space-between;

        @media only screen and (min-width: $med) {
            max-width: 525px;
            max-width: 700px;
        }

        @media only screen and (min-width: $xl) {
            max-width: 700px;
        }
    }
}

//Wcs
section#wcs {
    width: 100%;
    height: 400px;

    @media only screen and (min-width: $med) {
        height: 600px;
    }

    @media only screen and (min-width: $xl) {
        height: 800px;
    }

    .bg {
        background-image: url("/assets/yahyabg2crop-min.jpg");
    }

    .bg-overlay {
        width: 100%;
        height: 100%;
    }

    h1.headline {
        color: #dd1e35;
    }

    h2.subheading {
        color: #dd1e35;
    }

    .action {
        justify-content: center;
    }
}

//Confidence
section#confidence {
    width: 100%;
    height: 400px;

    @media only screen and (min-width: $med) {
        height: 600px;
    }

    @media only screen and (min-width: $xl) {
        height: 800px;
    }

    .bg {
        background-image: url("/assets/yahyabg3crop-min.jpg");
    }

    .bg-overlay {
        width: 100%;
        height: 100%;
    }

    .action {
        justify-content: center;
    }
}

//Yahya

section#yahya {
    width: 100%;
    height: 500px;

    @media only screen and (min-width: $sm) {
        height: 600px;
    }

    @media only screen and (min-width: $med) {
        height: 700px;
    }

    @media only screen and (min-width: $xl) {
        height: 800px;
    }

    .bg {
        background-image: url("/assets/yahyabg4crop-min.jpg");
    }

    .bg-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);

        @media only screen and (min-width: $sm) {
            background-color: transparent;
        }
    }

    p.body {
        max-width: 400px;
        color: #7b7b7b;

        @media only screen and (min-width: $sm) {
            color: #7b7b7b;
        }
        @media only screen and (min-width: $med) {
            max-width: 600px;
        }
    }
}

//Watch

section#watch {

    .bg {
        background-image: url("/assets/yahyalogobg.png");
        background-position: right 80px;
        background-size: contain;
    }

    h1.headline {
        margin-bottom: 24px;
        margin-top: 48px;
    }

    .action {
        padding: 0 24px;
        justify-content: center;
        max-width: 996px;

        @media only screen and (min-width: $med) {
            justify-content: flex-start;
        }
    }
}

//Youtube

#youtubefeed {
    width: 100%;
    margin-bottom: 80px;

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            height: 215px;
            width: 240px;
            margin: 24px;
            line-height: 1.1em;

            a.thumbnail {
                position: relative;
                display: flex;
                padding: 0;
                min-width: 0;
                align-items: center;
                justify-content: center;
                height: 134px;
                overflow: hidden;

                img {
                    width: 240px;
                    height: 180px;
                    border: 0;
                }

                .duration {
                    padding: 0 4px;
                    font-weight: bold;
                    font-size: 11px;
                    background-color: #000;
                    color: #fff!important;
                    height: 14px;
                    line-height: 14px;
                    opacity: .75;
                    filter: alpha(opacity=75);
                    display: -moz-inline-stack;
                    vertical-align: top;
                    zoom: 1;
                    display: inline-block;
                    position: absolute;
                    bottom: 2px;
                    right: 2px;
                }
            }

            a.title {
                font-family: 'Roboto', 'Avenir', 'sans-serif';
                margin: -6px 0 0 0;
                display: flex;
                min-width: 0;
                padding: 0;
                align-items: flex-start;
                justify-content: center;
                letter-spacing: 0;
                text-decoration: none;
                text-transform: none;
                flex-direction: column;

                span {
                    color: rgba(0,0,0,.87);
                    font-weight: 700;
                    font-size: 13px;
                    text-align: left;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 240px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            p.description {
                font-family: 'Roboto', 'Avenir', 'sans-serif';
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                font-size: 11px;
                color: #9e9e9e;
                margin: 6px 0 0 0;
                text-align: left;   
            }
        }
    }
}

//Speak
section#speak {
    width: 100%;
    height: 400px;

    @media only screen and (min-width: $med) {
        height: 600px;
    }

    @media only screen and (min-width: $xl) {
        height: 800px;
    }

    .bg {
        background-image: url("/assets/yahyabg5-min.jpg");
    }

    .bg-overlay {
        width: 100%;
        height: 100%;
    }

    h1.headline {
        @media only screen and (min-width: $lg) {
            font-size: 80px;
        }
    }

    .action {
        justify-content: center;
    }
}

//Banner

.banner {
    width: 100%;
    display: flex;

    img {
        width: 100%;
        height: 100%;
    }
}

//Speak2
section#speak2 {
    width: 100%;
    height: 600px;

    @media only screen and (min-width: $med) {
        height: 800px;
    }

    @media only screen and (min-width: $xl) {
        height: 800px;
    }

    .bg {
        background-image: url("/assets/yahyalogobg.png");
        background-position: right 80px;
        background-size: contain;
    }

    .bg-overlay {
        width: 100%;
        height: 100%;
        
    }

    h1.headline {
        @media only screen and (min-width: $lg) {
            font-size: 80px;
        }
    }

    p.body {
        max-width: 900px;
    }

    .action {
        justify-content: center;
    }
}

//Transform
section#transform {
    width: 100%;
    height: 400px;

    @media only screen and (min-width: $med) {
        height: 600px;
    }

    @media only screen and (min-width: $xl) {
        height: 800px;
    }

    .bg {
        background-image: url("/assets/yahyabg6.jpg");
    }

    .bg-overlay {
        width: 100%;
        height: 100%;
    }

    h1.headline {
        @media only screen and (min-width: $lg) {
            font-size: 60px;
        }
    }

    .action {
        justify-content: center;
    }
}