
<div class="page-sheath">

    <!-- Hero -->
    <section id="hero">
        <div class="bg">
            <div class="bg-overlay">
                <div class="content">
                    <div class="row fill">
                        <div class="col-xs-12 col-sm-12 col start-xs top-xs hero-col">
                            <!-- <div class="biling-text">
                                <div class="change-text">I help leaders become <br>world class speakers</div>
                            
                            </div> -->
                            <div class="content-sheath">
                                <div class="inner">
                                    <h1 class="headline red">Your Story Starts Here</h1>
                                    <h2 class="subheading">Create a movement around your message</h2>
                                    <h2 class="subheading desc">If you’re a coach, entrepreneur or influencer and you want to express yourself authentically on any medium, create a movement around your message, build an influential personal brand and achieve lifestyle freedom doing what makes you come alive, then I can help you.</h2>
                                    <div class="action">
                                        <yahya-button>
                                            <a href="https://yahyabakkar.typeform.com/to/fL2nsE" target="_blank" mat-button class="red button"><i class="material-icons">
                                                    play_arrow
                                                    </i>WATCH THIS VIDEO </a>
                                        </yahya-button>
                                        <!-- <yahya-button>
                                            <a href="#" class="white button">Download 5 Step Blueprint</a>
                                        </yahya-button> -->
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <yahya-logo-banner></yahya-logo-banner>
            </div>
            </div>
        </div>
        <!-- <div class="banner">
    
            <h2 class="subheading">Download the 5-Step Blueprint to Become a World-Class Speaker</h2>
            <div style="display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 24px 0;">
                <form style="display: flex;margin-right: 12px;">
                        <input class="form-control form-control-lg" type="text" placeholder="Your Name" required style="margin-right: 12px;">
                        <input class="form-control form-control-lg" type="text" placeholder="Your E-mail" required>
                </form>
                <a href="https://yahyabakkar.typeform.com/to/fL2nsE" target="_blank" mat-button class="white button"><i class="material-icons">
                        get_app
                        </i>Download Here</a>
            </div>
            <img src="/assets/yahyabanner.jpg" alt="">
        </div> -->
    </section>
        

    <!-- Yahya -->
    <section id="yahya">
 
        <div class="row fill" style="position: relative;">
            <div class="col-xs-12 col-sm-5 col-lg-5 true yahya-about-left" id="yahya-about-left">
                <div class="bg">
                    <div class="bg-overlay">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-5 col-lg-offset-5">
                <div class="about-sheath">
                        <div class="inner">
                                <h1 class="headline red">Yo! My Name is Yahya</h1>
                                <h2 class="subheading red">(Prounounced Ya-Ya)</h2>
                                <p class="body">I’m a family man, speaking coach and online business consultant. </p>
                                <p class="body">In Greek my name means grandma. In Chinese it means duck-duck. In Polish it means balls - and no, not like basketballs or baseballs… Just keeping it real, lol.</p>
                                <p class="body">Speaking of real, the true meaning of my name in Arabic is “alive”.</p>
                                <p class="body">That's why I’ve made it my life’s mission to help other leaders like you become more...</p>
                                <p class="body red">A.L.I.V.E.</p>
                                <p class="body">
                                    <span class="red">A</span>uthentic
                                </p>
                                <p class="body">
                                    <span class="red">L</span>ikable
                                </p>
                                <p class="body">
                                    <span class="red">I</span>nfluential
                                </p>
                                <p class="body">
                                    <span class="red">V</span>ulnerable
                                </p>
                                <p class="body">
                                    <span class="red">E</span>mpathetic
                                </p>

                                <p class="body">I believe that when you fully come alive on stage, in person or on camera, that’s when the people you’re meant to serve feel magnetically drawn to you and pay you handsomely to transform their lives, regardless of how many followers you have.</p>

                                <p class="body">And most importantly, that’s when you can start to have it all – the family, the lifestyle, the freedom, the legacy.</p>

                                <p class="body">
                                        If you’re wondering why I do what I do and want to learn more about me...
                                </p>
                                <yahya-button>
                                    <a routerLink="/about" class="button red" mat-button>Here's my Story <i class="material-icons">arrow_forward</i></a>
                                </yahya-button>

                                    
                        </div>
                </div>
                
            </div>
        
    </div>

        </section>

        <section id="reviews">
                <div class="bg">
                    <div class="content-sheath">
                        
                        <h1 class="headline red">Hear what others are saying about Yahya</h1>
                        <!-- <div class="row fill center-xs middle-xs">
                            <div class="col-xs-12 col-sm-6">
                                <a href="https://vimeo.com/258795460" data-lity class="video-thumbnail rect" id="testimonial1">
                                    <div class="bg">
                                        <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                    </div>
                                </a>
                                
                                
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                    <a href="https://vimeo.com/196886516" data-lity class="video-thumbnail rect" id="testimonial2">
                                        <div class="bg">
                                            <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                        </div>
                                    </a>
                            </div>
                        </div> -->
        
                        <div class="row center-xs start-xs">
                                <div class="col-xs-12 col-sm-6">
                                    <a href="https://vimeo.com/249250844" data-lity class="video-thumbnail circle" id="testimonial3">
                                        <div class="bg">
                                            <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                        </div>
                                    </a>

                                    <h1 class="testimonial-headline">Elliott Hulse</h1>
                                    <h2 class="testimonial-subheading">Youtube Celebrity, Founder of Strength Camp and Author of King</h2>
                                    <p class="testimonial-body">"There is no greater way to express your gifts than through eloquent speech and emphatic expression. <strong>Yahya is a master of both.</strong> Let him show you the way to increased confidence and abundance through his expert speaker coaching programs."</p>
                                    
                                    
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                        <a href="https://vimeo.com/249251568" data-lity class="video-thumbnail circle" id="testimonial4">
                                            <div class="bg">
                                                <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                            </div>
                                            </a>

                                        <h1 class="testimonial-headline">Gerard Adams</h1>
                                        <h2 class="testimonial-subheading">The Millenial Mentor™, Philanthropist & CEO of Fownders</h2>
                                        <p class="testimonial-body">"I've gone from speaking to 300 people to 3000 people in a room. Not only did Yahya help me find my voice and get clear on my message, but also showed me how to grow my business with speaking. In my opinion, <strong>Yahya is the best millenial public speaking coach in the world.</strong>"</p>
                                        
                                        
                                    </div>
                            </div>

                            <div class="row center-xs start-xs">
                                    <div class="col-xs-12 col-sm-6">
                                        <a href="https://vimeo.com/249250844" data-lity class="video-thumbnail circle" id="testimonial5">
                                            <div class="bg">
                                                <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                            </div>
                                        </a>
    
                                        <h1 class="testimonial-headline">Lewis Howes</h1>
                                            <h2 class="testimonial-subheading">New York Times Best-Selling Author, The School of Greatness</h2>
                                            <p class="testimonial-body">"<strong>Yahya is the type of person who cares deeply about others and adds value to them.</strong> Not only is he committed to supporting his family but he works hard to ensure others succeed in their goals."</p>
                                        
                                        
                                    </div>
    
                                    <div class="col-xs-12 col-sm-6">
                                            <a href="https://vimeo.com/249251568" data-lity class="video-thumbnail circle" id="testimonial4">
                                                <div class="bg">
                                                    <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                                </div>
                                                </a>
    
                                            <h1 class="testimonial-headline">Gerard Adams</h1>
                                            <h2 class="testimonial-subheading">The Millenial Mentor™, Philanthropist & CEO of Fownders</h2>
                                            <p class="testimonial-body">"I've gone from speaking to 300 people to 3000 people in a room. Not only did Yahya help me find my voice and get clear on my message, but also showed me how to grow my business with speaking. In my opinion, <strong>Yahya is the best millenial public speaking coach in the world.</strong>"</p>
                                            
                                            
                                        </div>
                                </div>

                                
                        <collapsible-sheath>
                            <div class="row center-xs start-xs">
                                <div class="col-xs-12 col-sm-6">
                                        <a href="https://vimeo.com/249459204" data-lity class="video-thumbnail circle" id="testimonial6">
                                            <div class="bg">
                                                <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                            </div>
                                            </a>

                                    <h1 class="testimonial-headline">Taki Moore</h1>
                                    <h2 class="testimonial-subheading">Author and Founder of Million Dollar Coach</h2>
                                    <p class="testimonial-body">"If you're looking for a speaking coach to help you captivate your audience on stage, in an interview, on a podcast or even in front of a camera, Yahya is your guy. He'll also help you monetize your message to grow your income. He's the real deal and I highly recommend him."</p>
                                    
                                    
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                        <a href="https://vimeo.com/249459204" data-lity class="video-thumbnail circle" id="testimonial6">
                                            <div class="bg">
                                                <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                            </div>
                                            </a>

                                    <h1 class="testimonial-headline">Taki Moore</h1>
                                    <h2 class="testimonial-subheading">Author and Founder of Million Dollar Coach</h2>
                                    <p class="testimonial-body">"If you're looking for a speaking coach to help you captivate your audience on stage, in an interview, on a podcast or even in front of a camera, Yahya is your guy. He'll also help you monetize your message to grow your income. He's the real deal and I highly recommend him."</p>
                                    
                                    
                                </div>

                                
                            </div>
                        </collapsible-sheath>
        
    
                    </div>
                </div>
        
            </section>

    <!-- Wcs -->
    <section id="wcs">
        <div class="bg">
            <div class="bg-overlay">
                <div class="row fill">
                    <div class="col-xs-12 col center-xs middle-xs">
                        <h1 class="headline">TRIPLE YOUR INFLUENCE, INCOME <br>AND IMPACT IN 90 DAYS</h1>
                        <p>Build a profitable 6 to 7 figure online business by becoming an in-demand expert, world-class speaker and social media influencer.</p>
                        <div class="action">
                            <a href="" mat-button class="button red">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Confidence -->
    <!-- <section id="confidence">
        <div class="bg">
            <div class="bg-overlay">
                <div class="row fill">
                    <div class="col-xs-12 col center-xs middle-xs">
                        <h1 class="headline">Build Unshakable Confidence</h1>
                        <h2 class="subheading">Overcome anxiety, self-doubt and fear of rejection</h2>
                        <div class="action">
                            <a href="" mat-button class="button red">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- Yahya -->
    <!-- <section id="yahya">
        <div class="bg">
            <div class="bg-overlay">
                <div class="content-sheath">
                    <div class="row fill">
                        <div class="col-xs-12 col center-xs top-xs">
                            <h1 class="headline red">Meet Yahya</h1>
                            <p class="body">He’s an author, speaker and coach who's confidently stepped on stage over 300 times to share his inspirational story and life-changing work. He's also a certified interventionist and has spoken to nationally recognized organizations such as Harvard, TedX and Yale.
                            </p>
                            <p class="body">Yahya's mission is to empower you to build the courage and confidence to be yourself in a world that's constantly trying to change you. Imagine what your life will look like when you could command respect from others simply by you being true to yourself.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section id="watch">
        <div class="bg">
            <div class="bg-overlay">
                <div class="content-sheath">
                    <div class="row fill true">
                        <div class="col-xs-12 col center-xs middle-xs">
                            <h1 class="headline red">WATCH MORE YAHYA TV</h1>
                            <div class="action"><div class="g-ytsubscribe" data-channel="yahyabakkar" data-layout="default" data-count="default"></div></div>
                            <div id="youtubefeed">
                                <ul>
                                    <li *ngFor="let video of videos">
                                        <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank" class="thumbnail">
                                            <img src="{{ video.snippet.thumbnails.high.url }}" alt="">
                                            <div class="duration">
                                                {{ video.snippet.videoDuration }}
                                            </div>
                                        </a>
                                        <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank" class="title">
                                            <span>{{ video.snippet.title }}</span>
                                        </a>
                                        <p class="description">
                                                {{video.snippet.description}}
                                            </p>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Speak -->
    <section id="speak">
        <div class="bg">
            <div class="bg-overlay">
                <div class="row fill">
                    <div class="col-xs-12 col center-xs middle-xs">
                        <h1 class="headline">Want Me to Come Speak?</h1>
                        <h2 class="subheading">Let’s make it an unforgettable and valuable experience for you and your audience…</h2>
                        <!-- <p>Click the link below to download my media kit and complete the form so my team can see how we can best serve you.</p> -->
                        <div class="action">
                            <a href="" style="margin-right: 24px;" mat-button class="red button">Download Media Kit</a>
                            <!-- <a href="" mat-button class="red button">Invite Yahya</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner -->
    <!-- <div class="banner">
            <img src="/assets/yahyabanner.jpg" alt="">
        </div> -->

    <!-- Speak2 -->
    <!-- <section id="speak2">
        <div class="bg">
            <div class="bg-overlay">
                <div class="content-sheath">
                    <div class="row fill">
                        <div class="col-xs-12 col center-xs middle-xs">
                            <p class="body">
                                If you’re reading this, you’re someone who’s looking for a dynamic speaker for your next event or podcast. I know how hard it is to find someone who can over deliver to your audience while making you look like a superhero.
                            </p>
                            <p class="body">
                                I’ve spoken on over 300 stages including Harvard, TEDx and Yale and I’d love to bring that same level of world-class professionalism to your next event.
                            </p>
                            <p class="body">
                                Click the link below to fill out our form and let my team know how we can best serve you. I look forward to working with you.
                            </p>
                            <div class="action">
                                <a href="https://yahyabakkar.typeform.com/to/fwX33u" data-lity mat-button class="button red">Invite Yahya</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews">
        <div class="bg">
            <div class="content-sheath">
                <h1 class="headline red">Hear what others are saying about Yahya</h1>
                <div class="row fill center-xs middle-xs">
                    <div class="col-xs-12 col-sm-6">
                        <a href="https://vimeo.com/258795460" data-lity class="video-thumbnail rect" id="testimonial1">
                            <div class="bg">
                                <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                            </div>
                        </a>
                        
                        
                    </div>
                    <div class="col-xs-12 col-sm-6">
                            <a href="https://vimeo.com/196886516" data-lity class="video-thumbnail rect" id="testimonial2">
                                <div class="bg">
                                    <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                </div>
                            </a>
                    </div>
                </div>

                <div class="row fill center-xs middle-xs">
                        <div class="col-xs-12 col-sm-5">
                            <a href="https://vimeo.com/249250844" data-lity class="video-thumbnail circle" id="testimonial3">
                                <div class="bg">
                                    <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                </div>
                            </a>
                            
                            
                        </div>
                        <div class="col-xs-12 col-sm-7 start-xs top-xs">
                            <h1 class="testimonial-headline">Elliott Hulse</h1>
                            <h2 class="testimonial-subheading">Youtube Celebrity, Founder of Strength Camp and Author of King</h2>
                            <p class="testimonial-body">"There is no greater way to express your gifts than through eloquent speech and emphatic expression. <strong>Yahya is a master of both.</strong> Let him show you the way to increased confidence and abundance through his expert speaker coaching programs."</p>
                        </div>
                    </div>

                    <div class="row fill center-xs middle-xs">
                        <div class="col-xs-12 col-sm-7 start-xs top-xs">
                                <h1 class="testimonial-headline" style="text-align: right;">Gerard Adams</h1>
                                <h2 class="testimonial-subheading" style="text-align: right;">The Millenial Mentor™, Philanthropist & CEO of Fownders</h2>
                                <p class="testimonial-body" style="text-align: right;">"I've gone from speaking to 300 people to 3000 people in a room. Not only did Yahya help me find my voice and get clear on my message, but also showed me how to grow my business with speaking. In my opinion, <strong>Yahya is the best millenial public speaking coach in the world.</strong>"</p>
                            </div>
                            <div class="col-xs-12 col-sm-5 first-xs last-sm">
                                <a href="https://vimeo.com/249251568" data-lity class="video-thumbnail circle" id="testimonial4">
                                <div class="bg">
                                    <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                </div>
                                </a>
                                    
                                    
                                </div>
                        </div>

                        <div class="row fill center-xs middle-xs">
                                <div class="col-xs-12 col-sm-5">
                                    <a href="https://vimeo.com/249250844" data-lity class="video-thumbnail circle" id="testimonial5">
                                        <div class="bg">
                                        </div>
                                    </a>
                                    
                                    
                                </div>
                                <div class="col-xs-12 col-sm-7 start-xs top-xs">
                                    <h1 class="testimonial-headline">Lewis Howes</h1>
                                    <h2 class="testimonial-subheading">New York Times Best-Selling Author, The School of Greatness</h2>
                                    <p class="testimonial-body">"<strong>Yahya is the type of person who cares deeply about others and adds value to them.</strong> Not only is he committed to supporting his family but he works hard to ensure others succeed in their goals."</p>
                                </div>
                            </div>

                            <div class="row fill center-xs middle-xs">
                            <div class="col-xs-12 col-sm-7 start-xs top-xs">
                                    <h1 class="testimonial-headline" style="text-align: right;">Taki Moore</h1>
                                    <h2 class="testimonial-subheading" style="text-align: right;">Author and Founder of Million Dollar Coach</h2>
                                    <p class="testimonial-body" style="text-align: right;">"If you're looking for a speaking coach to help you captivate your audience on stage, in an interview, on a podcast or even in front of a camera, Yahya is your guy. He'll also help you monetize your message to grow your income. He's the real deal and I highly recommend him."</p>
                                </div>
                                <div class="col-xs-12 col-sm-5 first-xs last-sm">
                                    <a href="https://vimeo.com/249459204" data-lity class="video-thumbnail circle" id="testimonial6">
                                    <div class="bg">
                                        <div class="play-button"><i class="material-icons">play_circle_outline</i></div>
                                    </div>
                                    </a>
                                        
                                        
                                    </div>
                                    </div>
            </div>
        </div>

    </section> -->

    <!-- Transform -->
    <!-- <section id="transform">
        <div class="bg">
            <div class="bg-overlay">
                <div class="row fill">
                    <div class="col-xs-12 col center-xs middle-xs">
                        <h1 class="headline red">Transform your Life in One Day</h1>
                        <h2 class="subheading red">Are you tired of consuming more information?
                        <br>If so, you’re ready for a real transformation.</h2>
                        <div class="action">
                            <a href="" mat-button class="red button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

</div>

