<section id="testimonials" class="testimonials">
  <header class="red">
    <h1 class="ls-1 white center">
      Hear what other influencers <br />are saying about Yahya
    </h1>
    <div class="skew left"></div>
    <div class="skew right"></div>
  </header>
  <div class="content-sheath">
    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249250844"
          data-lity
          class="video-thumbnail circle"
          id="testimonial1"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Elliott Hulse</h1>
        <h2 class="testimonial-subheading">
          Youtube Celebrity, Founder of Strength Camp and Author of King
        </h2>
        <p class="testimonial-body">
          "There is no greater way to express your gifts than through eloquent
          speech and emphatic expression.
          <strong>Yahya is a master of both.</strong> Let him show you the way
          to increased confidence and abundance through his expert speaker
          coaching programs."
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249251568"
          data-lity
          class="video-thumbnail circle"
          id="testimonial2"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Gerard Adams</h1>
        <h2 class="testimonial-subheading">
          The Millenial Mentor™, Philanthropist & CEO of Fownders
        </h2>
        <p class="testimonial-body">
          "I've gone from speaking to 300 people to 3000 people in a room. Not
          only did Yahya help me find my voice and get clear on my message, but
          also showed me how to grow my business with speaking. In my opinion,
          <strong
            >Yahya is the best millenial public speaking coach in the
            world.</strong
          >"
        </p>
      </div>
    </div>

    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <div class="video-thumbnail circle" id="testimonial3">
          <div class="bg"></div>
        </div>

        <h1 class="testimonial-headline">Lewis Howes</h1>
        <h2 class="testimonial-subheading">
          New York Times Best-Selling Author, The School of Greatness
        </h2>
        <p class="testimonial-body">
          "<strong
            >Yahya is the type of person who cares deeply about others and adds
            value to them.</strong
          >
          Not only is he committed to supporting his family but he works hard to
          ensure others succeed in their goals."
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249459204"
          data-lity
          class="video-thumbnail circle"
          id="testimonial4"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Taki Moore</h1>
        <h2 class="testimonial-subheading">
          Author and Founder of Million Dollar Coach
        </h2>
        <p class="testimonial-body">
          "If you're looking for a speaking coach to help you captivate your
          audience on stage, in an interview, on a podcast or even in front of a
          camera, Yahya is your guy. He'll also help you monetize your message
          to grow your income. He's the real deal and I highly recommend him."
        </p>
      </div>
    </div>

    <!-- <collapsible-sheath> -->
    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <div
          href="https://vimeo.com/249459204"
          data-lity
          class="video-thumbnail circle"
          id="testimonial5"
        >
          <div class="bg"></div>
        </div>

        <h1 class="testimonial-headline">Josh Shipp</h1>
        <h2 class="testimonial-subheading">
          Founder of Youth Speaker University
        </h2>
        <p class="testimonial-body">
          "I watched firsthand as Yahya started his speaking career from scratch
          and built it into a truly impactful venture.
          <strong
            >If you’re looking for someone to help you clarify your message and
            become a world-class speaker, I highly recommend working with
            Yahya.</strong
          >"
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249104340"
          data-lity
          class="video-thumbnail circle"
          id="testimonial6"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Keith Yackey</h1>
        <h2 class="testimonial-subheading">
          Founder and Creator of Finding Your Path
        </h2>
        <p class="testimonial-body">
          "Man… can Yahya really command a stage.
          <strong
            >If he’s going to be sharing with you exactly how to do it, I would
            be listening up very closely because he knows exactly what he’s
            talking about.</strong
          >
          He’s been doing it for years and I’m sure he can help you do it as
          well."
        </p>
      </div>
    </div>

    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <div class="video-thumbnail circle" id="testimonial7">
          <div class="bg"></div>
        </div>

        <h1 class="testimonial-headline">Brandon Carter</h1>
        <h2 class="testimonial-subheading">
          Fitness Influencer and Entrepreneur
        </h2>
        <p class="testimonial-body">
          "I asked Yahya to join me on my world tour because I’ve seen him in
          action and knew he would add a lot of value to my audience. He brought
          the house down!!
          <strong
            >One of the best speakers I’ve seen LIVE and I highly recommend him
            if you want to take your speaking game to the next level.</strong
          >"
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="video-thumbnail circle" id="testimonial8">
          <div class="bg"></div>
        </div>

        <h1 class="testimonial-headline">Shane Feldman</h1>
        <h2 class="testimonial-subheading">
          Award Winning Producer & Founder of Count Me In
        </h2>
        <p class="testimonial-body">
          "<strong
            >I’ve worked with 100+ speakers and influencers and Yahya’s ability
            to command a stage is unrivalled.</strong
          >
          His charisma, energy and quality content make him a true public
          speaking phenomenon. Yahya cuts to the core, genuinely engages, and
          most impressively he knows how to scale impact.
          <strong
            >If you are an entrepreneur, influencer or thought leader looking to
            reach more lives with your message, hire Yahya.</strong
          >"
        </p>
      </div>
    </div>

    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249171869"
          data-lity
          class="video-thumbnail circle"
          id="testimonial9"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Chris Thompson</h1>
        <h2 class="testimonial-subheading">
          Podcast host of Brain Software & Co-founder of MMHA
        </h2>
        <p class="testimonial-body">
          "Yahya is an incredible storyteller and presenter and is more
          confident and congruent than I have seen almost anybody on stage.
          <strong
            >If you have a chance to train with Yahya, you absolutely
            should.</strong
          >
          I spent 5 days with him in Toronto and I learned tons from him. Train
          with the man."
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249194540"
          data-lity
          class="video-thumbnail circle"
          id="testimonial10"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Sterling Griffin</h1>
        <h2 class="testimonial-subheading">Founder of Wealthy Coach Academy</h2>
        <p class="testimonial-body">
          "I’ve met some heavy hitters in this industry and a lot of them just
          want to make a dollar, not a difference.
          <strong
            >Yahya truly is one of the most caring, most loving, most committed
            to service people I’ve ever met.</strong
          >
          He’s been such a giver at every level to me, to my clients and to my
          team. <strong>I highly recommend you work with him.</strong>"
        </p>
      </div>
    </div>

    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <div class="video-thumbnail circle" id="testimonial11">
          <div class="bg"></div>
        </div>

        <h1 class="testimonial-headline">Dave Ruel</h1>
        <h2 class="testimonial-subheading">
          Keynote Speaker, Serial entrepreneur and Founder of Effic.co
        </h2>
        <p class="testimonial-body">
          "I’ve witnessed Yahya in action and he’s the real deal. If you’re
          looking to grow your influence, impact and income with speaking, do
          whatever you can to work with him.
          <strong
            >Not only will he help you learn how to get paid to speak but he’ll
            teach you how to tell your story in a way that gets you a standing
            ovation. I highly recommend him.</strong
          >
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249194995"
          data-lity
          class="video-thumbnail circle"
          id="testimonial12"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Mike Mandel</h1>
        <h2 class="testimonial-subheading">
          Keynote Speaker and President of MMHA
        </h2>
        <p class="testimonial-body">
          "If you’re a speaker, entrepreneur or presenter of any kind…hook up
          with Yahya as fast as you can. We brought him into Toronto and he
          showed us exactly what we could do to kick our business into high
          gear.
          <strong
            >He’s a man of integrity and I can’t recommend him highly
            enough.</strong
          >"
        </p>
      </div>
    </div>

    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249197135"
          data-lity
          class="video-thumbnail circle"
          id="testimonial13"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Anthony Galie</h1>
        <h2 class="testimonial-subheading">
          Keynote Speaker and Founder of Corporate Hypnotist Masterclass
        </h2>
        <p class="testimonial-body">
          "I’ve been speaking professionally for nearly 40 years in the
          corporate market and I thought I had pretty much seen it all. Well I
          was wrong. This is blew me away!!
          <strong
            >If you’re thinking about working with Yahya to take your own
            speaking business to the next level or have him come speak at your
            next event, I can’t recommend him enough. You’re in good
            hands.</strong
          >
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249203302"
          data-lity
          class="video-thumbnail circle"
          id="testimonial14"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Blake Fly</h1>
        <h2 class="testimonial-subheading">
          Speaker, Author & Co-founder of My Life Online
        </h2>
        <p class="testimonial-body">
          "I met Yahya at the start of his speaking career almost a decade ago.
          He was practically homeless.
          <strong
            >I’ve seen him surpass the expectations of everyone in his field
            both from a personal and financial point of view.</strong
          >
          I know without a shadow of a doubt he will teach you how to do the
          same."
        </p>
      </div>
    </div>

    <div class="row center-xs start-xs">
      <div class="col-xs-12 col-sm-6">
        <a
          href="https://vimeo.com/249209425"
          data-lity
          class="video-thumbnail circle"
          id="testimonial15"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">Stefan James</h1>
        <h2 class="testimonial-subheading">
          Lifestyle Entrepreneur and Founder of Project Life Mastery
        </h2>
        <p class="testimonial-body">
          "Yahya is one of the most engaging, charismatic and confident speakers
          and leaders that I’ve ever come across.
          <strong
            >If you get a chance to work with him, do it. He will take you to
            the next level. I can’t recommend Yahya enough.</strong
          >
        </p>
      </div>

      <div class="col-xs-12 col-sm-6">
        <a
          href="http://vimeo.com/249216958"
          data-lity
          class="video-thumbnail circle"
          id="testimonial16"
        >
          <div class="bg">
            <div class="play-button">
              <i class="material-icons">play_circle_outline</i>
            </div>
          </div>
        </a>

        <h1 class="testimonial-headline">David Schloss</h1>
        <h2 class="testimonial-subheading">
          Founder & Advertising Specialist at Convert ROI, Inc.
        </h2>
        <p class="testimonial-body">
          "If you want to create an impact through your message, you need to
          work with Yahya immediately. He’s absolutely one of most confident and
          engaging speakers I’ve met, and he loves to help others prosper in
          their business and life.
          <strong
            >If you plan to level up in your speaking and business, Yahya is
            someone you need to talk to ASAP.</strong
          >"
        </p>
      </div>
    </div>
    <!-- </collapsible-sheath> -->
  </div>
</section>
