<div class="topnav">
  <div class="inner">
    <div class="left">
      <a routerLink="/" mat-button class="white">HOME</a>
      <a href="#about" mat-button class="white">ABOUT</a>
      <a href="#testimonials" mat-button class="white">REVIEWS</a>
    </div>
    <img src="/assets/logoy.png" alt="" style="margin-left: 24px; margin-right: 24px;">
    <div class="right">
      <a href="#watch" mat-button class="white">VLOG</a>
      <a href="#world-class-leader" mat-button class="white">PROGRAMS</a>
      <a href="#speaking" mat-button class="white">SPEAKING</a>
    </div>
  </div>
</div>