<section class="hero">
  <div class="hero-content">
    <h1 class="ls-1 white center">Find out if you're a good fit</h1>
    <iframe
      src="https://player.vimeo.com/video/258078142?autoplay=1&loop=0&autopause=0"
      width="640"
      height="360"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen
      style="max-width: 640px; max-height: 360px; margin-top: 24px; margin-bottom: 0px;"
    ></iframe>

    <div class="action">
      <!-- <yahya-button> -->
      <a href="https://yahyabakkar.com/form" mat-button class="button white"
        >Apply Now</a
      >
      <!-- </yahya-button> -->
    </div>
  </div>
  <!-- <div class="hero-footer">
    <div class="inner">
      <yahya-logo-banner></yahya-logo-banner>
    </div>
  </div> -->
  <!-- <yahya-skew></yahya-skew> -->
</section>
<yahya-testimonials></yahya-testimonials>
<div
  class="action"
  style="background-color: #fff; margin: 0; padding-bottom: 48px;"
>
  <yahya-button>
    <a href="https://yahyabakkar.com/form" mat-button class="button red"
      >Apply Now</a
    >
  </yahya-button>
</div>
